body {
  margin: 0px;
  font-size: 14px;
  overflow: hidden;
  background-color: rgb(27, 51, 82);
  color: white;
  font-family: 'Kanit', sans-serif;
}

main {
  display: block;
}

/* Tabs & NavBar */
.tabBar {
  background-color: rgb(49, 53, 89);
  width: 100%;
  height: 28px;
  margin-top: 0px;
  overflow: hidden;
}

.tabBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabLink {
  width: 16.66%;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.tabContent {
  display: none;
}

/* Shared Between Tabs */
.mainView {
  text-align: center;
  display: block;
}

.leftBox {
  height: calc(100vh - 390px);
  float: left;
  width: 400px;
  margin-left: 10px;

  border-width: 1px;
  border-color: red;
  border-style: solid;
}

.rightBox {
  height: calc(100vh - 80px);
  width: calc(100% - 600px);
  margin-right: 180px;
  float: right;
  
  border-width: 1px;
  border-color: blue;
  border-style: solid;
}

.adBox {
  margin: 0 0 10px 10px;
  background-color: rgb(25, 62, 104);
  width: 400px;
  height: 300px;
  position: absolute;
  bottom: 0px;

  border-width: 1px;
  border-color: yellow;
  border-style: solid;
}

.adColumn {
  position: absolute;
  right: 10px;
  width: 160px;
  height: 600px;
  margin-top: 10px;
  background-color: rgb(25, 62, 104);

  border-width: 1px;
  border-color: yellow;
  border-style: solid;
}

/* Tier Lists Tab */
#strikerBox {
  overflow: hidden;
  padding-top: 10px;
}

.strikerOptions {
  height: 40px;
  width: 360px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 64, 94);
}

.strikerDropdown {
  width: 60%;
  background-color: rgb(51, 84, 122);
  color: white;
  font-size: 14px;
  border-color: rgb(51, 84, 122);
}

.defaultContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}

.defaultCheck {
  background: rgb(38, 39, 39);
  width: 14px;
  height: 14px;
}

.defaultLabel {
  font-size: 14px;
}

.strikerContainer {
  height: calc(100% - 60px);
}

#strikerImage {
  width: 360px;
  margin-bottom: 300px;
}

#tierListBox {
  padding-top: 10px;
}

.roleSelect {
  height: 30px;
  background-color: rgb(25, 62, 104);
}

.roleSelect ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roleOption {
  width: 50%;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.tierList {
  padding: 5px;
  background-color: rgb(36, 64, 94);
}

.tier {
  background-color: rgb(51, 84, 122);
  display: flex;
}

.tierDivider {
  height: 5px;
}

.tierLabel {
  width: 85px;
  min-height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tierLabel p {
  text-align: center;
  line-height: 20px;
  color: black;
  font-size: 18px;
  margin: 0px;
}

#gear {
  background-color: rgb(160, 255, 255);
}

#bestInSlot {
  background-color: rgb(145, 253, 145);
}

#ATier {
  background-color: rgb(191, 255, 127);
}

#BTier {
  background-color: rgb(253, 253, 140);
}

#lastResort {
  background-color: rgb(255, 202, 150);
}

#doNotTake {
  background-color: rgb(255, 150, 150);  
}

.awakeningsRow {
  width: calc(100% - 85px);
  height: fit-content;
  padding: 10px;
  display: inline;
}

.awakeningImage {
  height: 48px;
  width: 48px;
  float: left;
  margin-right: 1vw;
}

.creditFooter {
  background-color: rgb(36, 64, 94);
  position: relative;
}

.creditFooter a {
  color: rgb(211, 211, 211);
}

.creditFooter a:hover {
  color: rgb(255, 255, 0);
  cursor: pointer;
}

#version {
  margin-top: 57px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #8d8d8d;
}
